@import url('https://fonts.googleapis.com/css?family=Lato|Miniver');

body {
  background: #EAF8EB;
}

/* MEDIA QUERIES */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .menu-container {
    width: 100%;
    transform: scale(1.95);
    transform-origin: right;
    margin-top: 2%;
    margin-left: 5%;
  }

  .intro-container {
    transform: scale(1.1);
    transform-origin: top;
    margin-left: 10%;
  }

  .fa-chevron-down {
    visibility: hidden;
    display: none;
  }
  
  .project-container {
    transform: scale(1.3);
    transform-origin: left;
  }
  
  .contact-container {
    transform: scale(1.3);
    transform-origin: left;
  }

  h2 {
    transform: scale(2.5);
    transform-origin: right;
    margin-top: 100px;
  }

  .gallery-cell {
    transform: scale(1.6);
    transform-origin: top;
    margin: 30px 1000px 800px 100px;
    width: 100%;
    border: none;
  }

  .project-info {
    transform: scale(1.6);
    transform-origin: top;
    margin: 30px 50px 80px 100px;
  }

  .flickity-page-dots {
    visibility: hidden;
    display: none;
  }

  .card {
    transform: scale(2);
    transform-origin: top;
  }
  
  .contact-container {
    margin-bottom: 100%;
  }

  .back-top {
    transform: scale(1.6);
    transform-origin: top;
  }
}

/* TYPOGRAPHY */
h1 {
  font-family: 'Miniver', cursive;
  font-size: 80px;
  display: inline;
  margin-left: 5px;
}

h2 {
  font-family: 'Miniver', cursive;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.8;
  margin-bottom: -6px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: -15px 0px;
}

h4 {
  font-family: 'Miniver', cursive;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: -30px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  opacity: 0.68;
}

.intro {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  opacity: 0.68;
}

.intro-large {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  opacity: 0.68;
  margin-top: -30px;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 10px 25px 0px -10px;
  opacity: 0.5;
}

a:link {
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

/* MENU */
ul {
  list-style-type: none;
  width: 90%;
  height: 70px;
  margin: 0;
  padding-right: 15%;
  overflow: hidden; 
  display: flex;
  justify-content: flex-end;
}

li {
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background: #e3ecf9;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: -10px;
}

.active { 
  background: #e3ecf9;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: -10px;
}

/* CONTAINERS */
.menu-container {
  padding-left: 10%;
  z-index: 100;
  position: fixed;
  display: inline-block;
  background: #EAF8EB;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.intro-container {
  width: 85%;
  padding-top: 75px;
  padding-left: 10%;
  margin-top: 50px;
  margin-bottom: 30%;
}

.project-container {
  width: 95%;
  padding-top: 56px;
  padding-right: 5%;
  margin-top: 20%;
  margin-bottom: 30%;
}

.contact-container {
  width: 85%;
  padding-top: 56px;
  padding-right: 5%;
  padding-left: 10%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.contact-hire {
  width: 95%;
  margin: auto;
}

.back-top {
  display: flex;
  justify-content: center;
}

/* PROJECTS */
.project-info {
  padding: 15px;
  padding-right: 5%;
  position: relative;
}

.project-labels {
  margin: -15px 0px -10px 0px;
}

.label {
  width: auto;
  height: auto;
  color: white;
  background: grey;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

/* CONTACT CARD */
.card {
  width: 300px;
  height: 435px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background: #FFFFFF;
  justify-content: center;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  margin: -35px 0px 0px 20px;
}

.selfie-img {
  height: 250px;
  width: 250px;
  padding: 8%;
  border-radius: 20px;
}

.hire-img {
  height: 75px;
  width: 95px;
  margin: -30px auto auto auto;
}

hr {
    display: block;
    margin-top: 20px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px;
    opacity: 0.3;
}

/* SOCIAL MEDIA ICONS */
.social-media {
  margin: -15px 0px -15px -5px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #c0d7f9;
}

.fa-github {
  background: #d6d1d4;
}

.fa-instagram {
  background: #eddefc;
}

.fa-external-link {
  background: #f7cae6;
}

/* CAROUSEL */
img {
  width: 100%;
}

.gallery {
  width: 100%
  margin: auto;
}

.gallery-cell {
  width: 500px;
  height: 505px;
  margin-left: 5px;
  counter-increment: gallery-cell;
  /* border: 2px solid #4B504C;
  border-radius: 3px; */
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 25px;
  height: 25px;
  background: transparent;
  margin: auto;
}

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #4B504C;
}
.flickity-prev-next-button.no-svg {
  color: #4B504C;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #4B504C;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #4B504C;
}